.body{
    background-color: gray;
}

.container{
    background-color: rgba(0, 0, 0, 0.849);
    margin-top: 3.5%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.block{
    background-size: cover;
    width: 45%;
    height: 300px;
}

.block1{
    background-image: url(Image1.jpg);
    margin-left: 5%;
}

.block1_button{
    font-size: 20px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top: 10%;
    background-color: none;
    border-radius: 10px;
    border: 2px solid;
    margin-left: 10%;
}

.block1_button:hover{
    background-color:darkblue;
    color: whitesmoke;
    cursor: pointer;
}

.block1_text{
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
    color: whitesmoke;
    margin-right: 40%;
}

.block2{
    background-image: url(Image3.jpg);
    margin-right: 5%;
}

.block2_button{
    font-size: 20px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top: 10%;
    background-color: none;
    border-radius: 10px;
    border: 2px solid;
    margin-left: 10%;
}

.block2_button:hover{
    background-color:darkblue;
    color: whitesmoke;
    cursor: pointer;
}

.block2_text{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    color: black;
    margin-right: 40%;
}

.block3{
    background-image: url(Image2.jpg);
    margin-left: 5%;
}

.block3_button{
    font-size: 20px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top: 10%;
    background-color: none;
    border-radius: 10px;
    border: 2px solid;
    margin-left: 10%;
}

.block3_button:hover{
    background-color:darkblue;
    color: whitesmoke;
    cursor: pointer;
}

.block3_text{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    color: rgb(60, 255, 0);
    margin-right: 40%;
}

.block4{
    background-image: url(Image4.jpg);
    margin-right: 5%;
}

.block4_button{
    font-size: 20px;
    font-family: "Calibri";
    font-weight: bold;
    margin-top: 10%;
    background-color: none;
    border-radius: 10px;
    border: 2px solid;
    margin-left: 10%;
}

.block4_button:hover{
    background-color:darkblue;
    color: whitesmoke;
    cursor: pointer;
}

.block4_text{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    margin-right: 40%;
}